body {
    color: #333333;
    font-family: 'Lucida Grande',sans-serif;
    font-size: 0.75em;
    text-align: center;
}

#body {
    width: 900px;
    text-align: left;
    font-size: 1.75em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
}

/*#body li {list-style:  none; float:top}
#body li a {
    border-top:1px solid #3f5f74;
    border-left:1px solid #3f5f74;
    border-radius:6px;-moz-border-radius:6px;
    -webkit-border-radius:6px;
    display: inline;
    font-size:18px;
    text-decoration:none;
    color:#757272;
    position: absolute;
    line-height:37px;
    padding:0 20px;
    margin:0 1px 1px 0}
#body li a:hover {
    color:#3a5b70;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#254117;
    border-bottom:1px solid #3f5f74;
    border-right:1px solid #3f5f74;
    margin:0}*/
/*.pagination{
    margin: 2px 6px;
    list-style: none outside none;
}
.pagination li {
    float: left;
    padding: 2px 4px;
    font-size: 1.2em;
}*/

/* Pagination
---------------------------------------- */
.pagingItem {
    font-weight: normal;
    text-decoration: none;
    color: #747474;
    margin: 0 2px;
    padding: 0 2px;
    background-color: #eeeeee;
    border: 1px solid #bababa;
    font-size: 0.9em;
    line-height: 1.5em;
}

.pagingItemCurrent {
    padding: 0 2px;
    margin: 0 2px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    font-size: 0.9em;
}

.pagingDots {
    font-weight: normal;
}

.pagination span a:hover {
    border-color: #d2d2d2;
    background-color: #d2d2d2;
    color: #FFF;
    text-decoration: none;
}

.pagination img {
    vertical-align: middle;
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color:#FFD700;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}


#header {
    background: url(../images/bookshop.jpg) no-repeat right top;
    background-size: Auto 80%;
    text-align: left;
    color: white;
    font-size:30px;
    font-family:"Times New Roman",Times,serif;
    margin-top: -47px;
    margin-bottom: -47px;
    height:200px;
}

#headerTD{
    background: #0B173B;
}

#menu {
    width: 200px;
    background: #BDBDBD;
}
#menu li {list-style: none; float:left}
#menu li a {
    border-top:1px solid #3f5f74;
    border-left:1px solid #3f5f74;
    border-radius:6px;-moz-border-radius:6px;
    -webkit-border-radius:6px;
    display:block;
    font-size:18px;
    text-decoration:none;
    color:#757272;
    position:relative;
    line-height:37px;
    padding:0 20px;
    margin:0 1px 1px 0}
#menu li a:hover {
    color:#3a5b70;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#254117;
    border-bottom:1px solid #3f5f74;
    border-right:1px solid #3f5f74;
    margin:0}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size:30px;
}

a {
    color: #CCC;
}

th label {
    font-size: 0.75em;
    font-weight: normal;
}

td label {
    font-size: 0.75em;
    font-weight: normal;
}

table.horizontalRuled td {
    border-bottom: 1px solid #BBBBBB;
}

fieldset {
    margin: 10px 0pt;
}


fieldset input[type="text"],select,checkbox {
    border: 1px solid #AAAAAA;
    margin-right: 3px;
    padding: 4px 2px;
}

fieldset input[type="text"]{
    width: 12em;
}

fieldset small {
    color: #777777;
    font-size: 0.7em;
}

fieldset th {
    font-weight: normal;
    padding-top: 10px;
    text-align: right;
    width: 8em;
}

fieldset th,td {
    padding: 7px 3px;
    vertical-align: top;
}

#content h2 {
    margin: 13px 0pt 4px;
}

h2 {
    font-weight: normal;
    line-height: 1.2em;
}

* {
    padding: 0px;
}


label {
    font-size: 20px;
}

.submit {
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    border-bottom: 1px solid #00F;
    color: #00F;
    display:inline;
    margin:0;
    padding:0;
}

* html .submit {
    border-bottom: 0;
    text-decoration: underline;
}

span.error {
    color: red;
    font-size: 8pt;
}
